<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title">Sobre Nosotros</h2>
                <p>Coordinadora de Tanques SAS es una empresa líder en el transporte de carga líquida. Contamos con un
                    equipo de más de 300 empleados altamente capacitados en todas las áreas, lo que nos permite ofrecer
                    un servicio de alta calidad a nuestros clientes.</p>
                <p>Nuestro compromiso con la innovación nos ha llevado a estar a la vanguardia en la adquisición de
                    nuevas tecnologías. Hemos trabajado con empresas líderes en el mercado como [inventa algunas
                    empresas], lo que nos ha permitido mejorar nuestros procesos y brindar un servicio aún más
                    eficiente.</p>
            </div>
            <div class="col-md-6">
                <img src="https://coorditanques.com/resource/img/imagen 2.webp" alt="Equipo de trabajo" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- ... -->
<section class="experience">
    <div class="container">
        <h2 class="section-title">Experiencia</h2>
        <p>Nuestra empresa cuenta con más de 20 años de experiencia en el transporte de carga líquida. Durante este
            tiempo, hemos trabajado con clientes de diversos sectores, lo que nos ha permitido adquirir un amplio
            conocimiento en el manejo de distintos tipos de cargas.</p>
        <p>Estamos comprometidos en brindar un servicio de alta calidad a nuestros clientes, asegurándonos de que sus
            cargas lleguen a su destino de manera segura y eficiente.</p>
        <!-- <div class="container" id="carrousel">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let img of images">
                    <ng-template carouselSlide>
                        <img [src]="img.src" [alt]="img.alt" class="rounded-circle img-thumbnail">
                        <h3>{{ img.title }}</h3>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div> -->
    </div>
</section>
<!-- ... -->

<section class="team">
    <div class="container">
        <h2 class="section-title">Equipo de Trabajo</h2>
        <p>En Coordinadora de Tanques SAS, nuestro equipo de trabajo es nuestra mayor fortaleza. Contamos con más de 300
            empleados altamente capacitados en todas las áreas, desde conductores hasta personal administrativo.</p>
        <p>Nuestros empleados son el motor que impulsa nuestra empresa, y estamos comprometidos en brindarles las
            mejores condiciones laborales y de desarrollo profesional.</p>
    </div>
</section>
<section class="locations">
    <div class="container">
        <h2 class="section-title">Ubicaciones</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Bogotá</h3>
                <p>Carrera 112a # 51</p>
                <p>Teléfono: (1) 234 5678</p>
                <p>Horario de atención: Lunes a Viernes de 8:00 a.m. a 5:00 p.m.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3032484516266!2d-74.12534802510748!3d4.717293741513655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84a80c4f615f%3A0x9527d06b4befa845!2sCoordinadora%20De%20Tanques%20S.a.s.!5e0!3m2!1ses!2sco!4v1681827637955!5m2!1ses!2sco"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Medellín</h3>
                <p>Cl. 80 # 65 - 145</p>
                <p>Teléfono: (4) 567 8901</p>
                <p>Horario de atención: Lunes a Viernes de 8:00 a.m. a 5:00 p.m.</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.9001905772934!2d-75.57743742510229!3d6.276851825980657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44292778f98503%3A0xf8bf669a011d022e!2sCoordinadora%20de%20Tanques%20SAS!5e0!3m2!1ses!2sco!4v1681825727406!5m2!1ses!2sco"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>