<!-- Inicio del pie de página -->
<footer class="footer-section">
    <div class="container">
        <!-- Sección de información de contacto rápida -->
        <div class="footer-cta pt-5">
            <div class="row">
                <!-- Bloque de dirección -->
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Encuéntranos</h4>
                            <span>Av. Ejemplo 123, Ciudad, País</span>
                        </div>
                    </div>
                </div>
                <!-- Bloque de teléfono -->
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Llámanos</h4>
                            <span>+01 234 567 890</span>
                        </div>
                    </div>
                </div>
                <!-- Bloque de correo electrónico -->
                <div class="col-xl-4 col-md-4">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Escríbenos</h4>
                            <span>info@ejemplo.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contenido del pie de página -->
        <div class="footer-content pt-3">
            <div class="container">
                <div class="info-empresa row">
                    <!-- Sección de información de la empresa -->
                    <div class="col-lg-6 mx-auto">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="#"><img src="https://coorditanques.com/resource/icons/logo 1.webp"
                                        width="200px" alt="Logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Transportamos Ideales</p>
                            </div>
                            <!-- Redes sociales -->
                            <div class="footer-social-icon">
                                <span>Síguenos:</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-instagram instagram-bg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="enlaces-utiles row">
                    <!-- Sección de enlaces útiles -->
                    <div class="col-lg-6 mx-auto">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Enlaces útiles</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="#">Inicio</a></li>
                                        <li><a href="#">Nosotros</a></li>
                                        <li><a href="#">Servicios</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="#">Portafolio</a></li>
                                        <li><a href="#">Contacto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- Sección del final del pie de página -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p>&copy; 2023 Derechos reservados - <a href="#">Política de privacidad</a></p>
            </div>
        </div>
    </div>
</footer>