<h2 id="title">Sección Cliente</h2>
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/16x9_by_Pengo.svg/800px-16x9_by_Pengo.svg.png" alt="Imagen 1">
                <h2>Título de la sección</h2>
                <p>Descripción breve de la sección. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    ullamcorper, lorem vitae dignissim rutrum, sapien arcu faucibus velit, et malesuada sapien magna eu
                    </p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <div class="col-md-6">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Aspect-ratio-16x9.svg/1200px-Aspect-ratio-16x9.svg.png" alt="Imagen 2">
            </div>
        </div>
    </div>
</section>