#title {
    margin-left: 2.5rem;
    font-size: 48px;
}

.home {
    margin-top: 2rem;
}

.home h2 {
    margin-top: 0;
    font-size: 36px;
}

.home p {
    font-size: 18px;
    line-height: 1.5;
}

.home img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.home .btn {
    margin-top: 20px;
}

/* Agrega estilos para pantallas aún más pequeñas */
@media screen and (max-width: 480px) {
    #title {
        font-size: 36px;
        width: 210px;
        margin-left: 1rem;
    }
}