<div class="home-container">
    <section class="hero-section">
        <h1>Bienvenido a Coorditanques</h1>
        <p>¡Gracias por visitarnos! Estamos trabajando duro para brindar una experiencia increíble a nuestros clientes.
        </p>
        <a href="#" class="btn-primary">Contáctanos</a>
    </section>

    <section class="features-section">
        <h2>Características principales</h2>
        <div class="features-grid">
            <div class="feature-card">
                <i class="fas fa-truck"></i>
                <h3>Excelencia en servicio</h3>
                <p>Garantizamos un servicio de transporte de carga líquida eficiente y confiable para satisfacer las necesidades de nuestros clientes.</p>
            </div>
            <div class="feature-card">
                <i class="fas fa-hand-holding-heart"></i>
                <h3>Atención al cliente</h3>
                <p>Contamos con un equipo de profesionales dedicados a brindar una atención personalizada y resolver tus dudas e inquietudes.</p>
            </div>
            <div class="feature-card">
                <i class="fas fa-shield-alt"></i>
                <h3>Seguridad en el transporte</h3>
                <p>La seguridad es nuestra prioridad, por eso seguimos estrictos protocolos para garantizar el transporte seguro de tu carga líquida.</p>
            </div>
        </div>
    </section>
    
    <section class="team-section">
        <h2>Nuestro Equipo Directivo</h2>
        <p>Conoce a nuestro talentoso equipo de liderazgo que trabaja incansablemente para llevar nuestra empresa al
            éxito.</p>
        <div class="team-grid">
            <div class="team-card">
                <img src="https://th.bing.com/th/id/OIG.2kEZSLVWxuz9_6p21kah?pid=ImgGn" alt="Gerente">
                <h4>Maria Rodríguez</h4>
                <p>Gerente</p>
            </div>
            <div class="team-card">
                <img src="https://th.bing.com/th/id/OIG.v1I6g6t3ThLQZ.ARm_Ox?pid=ImgGn" alt="Director Comercial">
                <h4>Juan Pérez</h4>
                <p>Coordinador Comercial</p>
            </div>
            <div class="team-card">
                <img src="https://th.bing.com/th/id/OIG.WEhrueGb0g.4XzViUCnv?pid=ImgGn" alt="Director Financiero">
                <h4>Maria Rodríguez</h4>
                <p>Coordinadora Financiera</p>
            </div>
        </div>
    </section>


    <section class="contact-section">
        <div class="card">
            <h2>Contáctanos</h2>
            <form>
                <div class="form-group">
                    <label for="name"><i class="fas fa-user"></i> Nombre:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="email"><i class="fas fa-envelope"></i> Correo electrónico:</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="company"><i class="fas fa-building"></i> Empresa:</label>
                    <input type="text" id="company" name="company">
                </div>
                <div class="form-group">
                    <label for="message"><i class="fas fa-comment"></i> Mensaje:</label>
                    <textarea id="message" name="message"></textarea>
                </div>
                <button type="submit" class="btn-primary"><i class="fas fa-paper-plane"></i> Enviar mensaje</button>
            </form>
        </div>
    </section>
</div>